/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Body styling */

header {
    background-color: #93d0f4;
    text-align: center;
    color: white;
    padding: 40px;
    position: relative;
}

/* table styling */

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 10px;
    width:100%;
}

/* table cell styling */

td, th { 
    padding: 10px;
    text-align:left;
}

/* Hyperliink styling */

a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #0079c1 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before {
    width:100%;
  }

/* Footer styling */

footer {
    background-color: #93d0f4;
    position: fixed;
    bottom: 0px;
    padding: 10px 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    left: 0px;
    margin: 0 auto;
}
/* Add in your own customisations */


/* Header fade-in animation */

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.bottom-right-gif {
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 100px; 
    height: auto; }   